.wrapper {
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
  //  background-color: white;
    position: relative;
    z-index: 1;
  }
  .page-header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: contain;
    background-position: center center;


  }
  
  .container{
    z-index: 2;
}
.info{
    padding: 30px 0 30px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.info-horizontal{
    margin-left: 0
}

.form-group{
 margin-bottom: -20px;
}
.card-register {
    background-color: var(--white);;
    border-radius: 8px;
    color: #fff;
    width: 150%;
   // max-width: 650px;
    margin: 100px  0 50px -50px;
    //min-height: 350px;
    padding: 30px;
  //  border-color : black;
  
    & label {
      margin-top: 50px;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #a1a1a1;
    }
    & .card-title {
        font-size: 20px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.39px;
        text-align: center;
        color: #a3a3a3;
        margin-top: -30px;
    }
    & .btn {
      margin-top: 30px;
      border-radius: 6px;
     // background-color: #3ca939;
      color: white;
    }
    & .forgot {
      text-align: center;
    }
  
  }
  .register-form{
    .form-control{
        border: 1px solid #CCC5B9 !important;
        margin-bottom: 10px;
        margin-top: 15px;
    }
}
.social{
  position: relative;
  text-align: center;
  bottom: 30px;
}
.division {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
  color: black;
  .line {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 10px;
      width: 40%;
      &.l{
          left: 0;
      }
      &.r{
          right: 0;
      }
  }
}
.input{
  flex-direction: row;
 
}
.first{
  width: 40%;
  border: 1px solid #CCC5B9 !important;
  margin-bottom: 10px;
  margin-top: 15px;
}
.fa {
padding: 10px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}

span{ font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e6c6c;}
  p{
    color: #6e6c6c;
  }
  
  .tilisco{
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333333;

  }
  .arrow{
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
  }
  .password{
     margin-top: 15px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #008bff;
  }
  .image-container{
      position: absolute;
      left: 25%;
      top: 10%;
  }
  .img-container{
    width:243px ;
    margin-top: -40px;
    object-fit: contain;
    align-self: center;

  }
  .card-container{
    position: absolute;
    left: 69%;
    top: 80px;
  }
  .cards{
  padding-inline: 5px;
  }
  .paypal{
    position: absolute;
    left: 74%;
    bottom: 165px;
  }
  .icon{
    position: absolute;
    left: 86%;
    top: 209px;

  }
  .form-check-label{
    font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1b2125;

  }
  