
<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
    <span class="tilisco">TILISCO</span>


        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <form class="register-form">
                            <div class="form-group">
                                <label class="form-check">
                              <input class="form-check-input" type="radio" name="gender" value="option1">
                              <span class="form-check-label" > Credit Card </span>
                              <small class="form-text text-muted">Safe money transfer using your bank account.</small>
                    
                               </label>
                            </div>
                            <div class="form-row">
                                <div class="col  card-container">
                                    <img class="cards" src="assets/images/credit-cards_mastercard.png" >
                                    <img class="cards" src="assets/images/credit-cards_visa.png" >
                                    <img class="cards" src="assets/images/credit-cards_amex.png" >
                                </div> 
                            </div>
                            <div class="form-group">
                                <label>CARD NUMBER</label>
                                <input type="email" class="form-control" placeholder="0000 0000 0000 0000">
                                <img class="icon" src="assets/images/card_icon.png" >

                            </div> 
                        
                        
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>NAME ON CARD </label>   
                                          <input type="text" class="form-control" placeholder="Master card">
                                    </div> 
                                    <div class="col form-group">
                                        <label>EXPIRY DATE</label>
                                          <input type="text" class="form-control" placeholder="MM / YY ">
                                    </div>
                                    <div class="col form-group">
                                        <label>CVV CODE</label>
                                          <input type="text" class="form-control" placeholder=" ">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="form-check mt-5">
                                      <input class="form-check-input" type="radio" name="gender" value="option1">
                                      <span class="form-check-label">PayPal </span>
                                      <small class="form-text text-muted">You will be redirected to PayPal website to complete your purchase securely.</small>

                                    </label>
                                </div> 
                                <div class="form-row">
                                    <div class="col paypal">
                                        <img src="assets/images/Bitmap.png" >
                                      
                                    </div> 
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success mb-5 mt-5 btn-round">FOLLOWING</button>
                                </div>       
                                                       

                          
                          
                        </form>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>





<!--<div class="row justify-content-center"  >

    <div class="col-md-6">
    <div class="card">
    <article class="card-body">
    <form>
        <div class="form-group">
            <label class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="option1">
          <span class="form-check-label"> Credit Card </span>
          <small class="form-text text-muted">Safe money transfer using your bank account. Visa, Maestro, Discover, American Express.</small>

        </label>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" placeholder="">
    </div> 


        <div class="form-row">
            <div class="col form-group">
                <label>First name </label>   
                  <input type="text" class="form-control" placeholder="">
            </div> 
            <div class="col form-group">
                <label>Last name</label>
                  <input type="text" class="form-control" placeholder=" ">
            </div>
            <div class="col form-group">
                <label>Last name</label>
                  <input type="text" class="form-control" placeholder=" ">
            </div>
        </div>
        <div class="form-group">
                <label class="form-check">
              <input class="form-check-input" type="radio" name="gender" value="option1">
              <span class="form-check-label">PayPal </span>
              <small class="form-text text-muted">You will be redirected to PayPal website to complete your purchase securely.</small>

            </label>
        </div> 
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
        </div>       
        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
    </form>
    </article>
    </div>
    </div> 
    
    </div> -->
