<div class="flex-lg-column my-auto">
     <ul class="nav">
         <li class="nav-item">
             <a href="" class="nav-link"><img class="image1" src="assets/images/icons/notification.png"> 
             </a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><img class="image1" src="assets/images/icons/chat.png"></a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><img class="image1" src="assets/images/icons/calendrier.png"></a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><img class="image1" src="assets/images/icons/users.png"></a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><img class="image1" src="assets/images/icons/call.png"></a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><mat-icon>more_horiz</mat-icon></a>
         </li><br>
         <li class="nav-item">
             <a href="" class="nav-link"><mat-icon class="settings">settings</mat-icon></a>
         </li><br>
     </ul>
     </div>
     




<!--<div class="flex-lg-column my-auto">
<div class="nav">
   <div>
        <img class="image1" src="assets/images/icons/notification.png">
        <span class="title">Notification</span>
   </div> 
   <div>
        <img class="image1" src="assets/images/icons/chat.png">
        <span class="title">Conversation</span>
   </div> <div>
        <img class="image1" src="assets/images/icons/calendrier.png">
        <span class="title1">Rooms</span>
   </div> <div>
        <img class="image1" src="assets/images/icons/users.png">
        <span class="title1">Teams</span>
   </div> <div>
        <img class="image1" src="assets/images/icons/call.png">
        <span class="title2">Call</span>
   </div> 
   <div>
        <img class="image2" src="assets/images/icons/options1.png">
   </div> 

   <div class="setting">
     <img class="image3" src="assets/images/icons/settings.png">
</div> 
</div> -->
