.bg{
  background-color: white;
}
.label{
    width: 100px;
    color: #3ca939;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
   margin-left: 51px;
}
.user-avatar{
  width: 48px;
  height: 49px;
  border-radius: solid 1px #3ca939;
  margin: 20px 0px 20px 40px;
}

mat-slide-toggle{
  margin-left: 61px;
}
.align-middle{
  width: 78px;
  height: 16px;
  font-weight: 500;
  margin: 4px 0 2px 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.mr-2{
  width: 21px;
  height: 22px;
  margin: 0 18px 0 20px;
  object-fit: contain;
}

.sb4:before {
    content: "";
    position:absolute;
    width: 100%;
    height: 100%;
    right: 0px;
    bottom: 0px;
    background: url('/src/assets/images/online.png');
  }
  
.avatar {
    width: 100%;
    position: relative;
}

.text-input{
  width: 70%;
  height: 30px;
  margin-left: 50px;
  padding: 2px 0 2px 40px;
  border-radius: 3px;
  border: solid 1px #f5f7fa;
  background-color: rgba(245, 247, 250, 0.2);
}

input::placeholder {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #98a0a6;

}
.divider{
  width: 220px;
  height: 2px;
  margin: 5px 30px 5px 30px;
  border: solid 1px #e0e0e0;
}
mat-icon{
  width: 21px;
  height: 22px;
  margin: 0 0 0 20px;
  object-fit: contain;
  
}
.avatar-label{
  width: 91px;
  height: 20px;
  margin: 32px 47px 56px 27px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9b9b;
}