
<div class="col-xs-12 col-12 col-md-16 ml-1 form-group row">
  
<div class="col-xs-12 col-12 col-md-16  form-group">
  <h1 mat-dialog-title>Create a meeting</h1>
    <input type="text"
           placeholder="Meeting mediasoup"
           class="form-control"
          >
           

  </div>

</div>
  <div class="col-xs-12 col-12 col-md-16 ml-1  form-group row">
    <div class="col-xs-12 col-12 col-md-6 form-group">

      <input type="text"
             placeholder="Start Date"
             class="form-control"
             bsDatepicker>
    </div>
    <img src="assets/images/calendar-5.png" class="calendar-icon"> 

    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Time"
             class="form-control"
             >
    </div>
  </div>
  <div class="col-xs-12 col-12 col-md-16 ml-1  form-group row">
    <div class="col-xs-12 col-12 col-md-6 form-group">

      <input type="text"
             placeholder="End Date"
             class="form-control"
             bsDatepicker>
    </div>
    <img src="assets/images/calendar-5.png" class="calendar-icon"> 

    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             placeholder="Time"
             class="form-control"
             >
    </div>
  </div>
 

<div  mat-dialog-actions class= "col-xs-12 col-12 col-md-16 ml-1  form-group row">
    <button type="button" class="btn">
       <span>Register</span>
      </button>
</div>