

<div class="pr-3 pb-3">
    <div class="vl"></div>
    <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
  </div>



  <div class="D-flex">

    <!-- 
      <span class="day">8 January</span>
    -->   
    <div class="call-icon">
     
         <img class="call-svg" src="assets/images/video.png">
         <span class="new-call">Start a meeting</span>
    
    </div>

    <div class="contact-icon">
   
        <img class="contact-svg" src="assets/images/calendrier.png">
        <span class="contact-call">schedule a meeting</span>
      
    </div>

   

</div>

<hr class="solid">
<div>
  <app-schedule></app-schedule>
</div>
