<div class="call">
    <div class="image-container">
        <img class="submit" src="assets/images/room.png">
    </div>
    <div class="first-text">
        <span>Plan your next meeting</span>
    </div>
    <div class="text-call">
        <span>Meet whoever you want, wherever you want with high quality audio and video features.</span>
    </div>

    <div class="D-flex">
       
            <div class="call-icon">
             
                 <img class="call-svg" (click)="openForm()" src="assets/images/video.png">
                 <span class="new-call">Start a meeting</span>
            
            </div>

            <div class="contact-icon">
           
                <img class="contact-svg" src="assets/images/calendrier.png">
                <span class="contact-call" (click)="openDialog()">Schedule a meeting</span>
           
        </div>
        
    </div>


</div>