<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
        <span class="tilisco">TILISCO</span>
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title">Forgot your password?</h3>
                        <form class="register-form">
                            
                            <input type="email" class="form-control no-border" placeholder="Email Address or numbre phone">
                           
                            <button type="submit" class="btn btn-block btn-round">SEND RESET LINK</button>
                          
                          
                        </form>
                        <div class="forgot">
                            <div class="login">
                                 <a class="login" ><p class="password">Back to Login</p></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>