.wrapper {
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
  //  background-color: white;
    position: relative;
    z-index: 1;
  }
  .page-header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    object-fit: contain;
    background-position: center center;


  }
  .container{
    z-index: 2;
}
.info{
    padding: 30px 0 30px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.info-horizontal{
    margin-left: 0
}

.card-register {
    background-color: white;
    border-radius: 8px;
    color: #fff;
    max-width: 350px;
    margin: 150px  0 70px;
   min-height: 400px;
   // padding: 30px;
   padding-top: 80px;
   padding-inline: 30px;
   
    //border-color: transparent;
  
    & label {
      margin-top: 15px;
    }
    & .card-title {
      font-size: 22px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #333333;

    }
    & .btn {
      margin-top: 30px;
      border-radius: 6px;
      background-color: #3ca939;
      color: white;
    }
    & .forgot {
      text-align: center;
    }
  
  }
  .register-form{
    .form-control{
        border: 1px solid #CCC5B9 !important;
        margin-bottom: 10px;
        margin-top: 15px;
    }
}
.social{
  position: relative;
  text-align: center;
  bottom: 30px;
}
.division {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  text-align: center;
  width: 100%;
  color: black;
  .line {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 10px;
      width: 40%;
      &.l{
          left: 0;
      }
      &.r{
          right: 0;
      }
  }
}
.input{
  flex-direction: row;
 
}
.first{
  width: 40%;
  border: 1px solid #CCC5B9 !important;
  margin-bottom: 10px;
  margin-top: 15px;
}
.fa {
padding: 10px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;

}
.fa-google {
  background: #dd4b39;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
span{ font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6e6c6c;}
  p{
    color: #6e6c6c;
  }
  .login{
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0960bd;
  }
  .tilisco{
    float: left;
    margin-top: 40px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333333;

  }
  .arrow{
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    font-weight: 600;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
  }
  .password{
     margin-top: 15px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #008bff;
  }