<div class="chat-popup">
    <div class="badge"></div>
    <div class="chat-area">
        <div class="income-msg">
            <img class="avatar"
                src="https://us.123rf.com/450wm/gmast3r/gmast3r1411/gmast3r141100350/33865095-affaires-ic%C3%B4ne-du-profil-m%C3%A2le-portrait-plat.jpg?ver=6"
                alt="">
            <span class="msg"> Hi, Media-Soup Team</span>
        </div>
    </div>

    <div class="input-area">
        <input type="text">
        <img class="submit" src="assets/img/send-button.png">
        <img class="micro-btn" src="assets/img/microphone.png">
        <img class="emoji-btn" src="assets/img/add-emoji.png">
        <img class="btn-visio" src="assets/img/ajouter-fichier.png">
    </div>
</div>