<!-- 
  <section  align="end">
    <div class="example-button-row">
      <div class="example-flex-container"   >
    
        <div class="example-button-container"  >
          <button mat-mini-fab style="background-color: rgb(255, 255, 255);" >
            <mat-icon style="color:#56d456;">open_with</mat-icon>
          </button>
        </div>
        <div class="example-button-container" id="bouton2" > 
            <button mat-mini-fab color="white" >
              <mat-icon style="color:#56d456;">person_add</mat-icon>
            </button>
          </div>
      </div>
    </div>
    
  </section> -->
 <!--  <mat-toolbar style="background-color: white;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span> 
      <button mat-mini-fab color="white" style="border-radius: 5px;">
        <mat-icon style="color:#56d456;">crop_original</mat-icon>
      </button>
   </span>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="white" style="border-radius: 5px;">
      <mat-icon style="color:#56d456;">open_with</mat-icon>
    </button>
    <span style="margin-right: 15px;"><br></span>
    <button mat-mini-fab color="white" style="border-radius: 5px;">
      <mat-icon style="color:#56d456;">person_add</mat-icon>
    </button>
  </mat-toolbar> -->

  <section class="header" align="end">
    <div class="btn-visio">
      <mat-icon aria-hidden="false" >person_add</mat-icon>
    </div>

    <div class="btn-visio">
      <mat-icon aria-hidden="false" >close_fullscreen</mat-icon>
      
    </div>
  </section>

  <section class="left-header" align="end">
    <div class="left-btn">
      <mat-icon class="left-icon">notes</mat-icon>
    </div>
  </section>