<div class="table-responsive">
  <div class="contact">
      <h2>Contacts</h2>
  </div> 
  
  <div class="icons">
        
    <div class="input-group mb-6">
              <input class="text-input" type="text" placeholder="search" aria-label="search">
    </div>

    <div class="call-icon">
     
      <img class="call-svg" src="assets/images/add-contact.png">
      <span class="new-call">Add Contact</span>
 
    </div>


    
    <div class="form-contact">
        <table class="table table-bordered">

            <tbody>
              <tr class="noborders">
                <th scope="row"><img class="avatar" src="assets/images/avatar.png">Henriette Sontag</th>
                
                
                <td >00 33 55 66 66 77 88</td>
              </tr>
              <tr class="noborders">
                <th scope="row"><img class="avatar" src="assets/images/avatar2.png">John Copley</th>
               
                <td>00 33 55 66 66 77 88</td>
              </tr>
              <tr class="noborders">
                <th scope="row"><img class="avatar" src="assets/images/avatar3.png">Oscar-Claude Monet</th>
               
                <td>00 33 55 66 66 77 88</td>
              </tr>

              <tr class="noborders">
                <th scope="row"><img class="avatar" src="assets/images/avatar4.png">Paul Gauguin</th>
               
                <td>00 33 55 66 66 77 88</td>
              </tr> 
              <tr class="noborders">
                <th scope="row"><img class="avatar" src="assets/images/avatar5.png">Paul Signac</th>
                
                <td>00 33 55 66 66 77 88</td>
              </tr>
            </tbody>
          </table>
      </div>
    

  </div>

 
</div>
