<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
    <span class="tilisco">TILISCO</span>


        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">

                    <div class="card card-register">

                        <form class="register-form">
                            <div class="form-row">
                                <div class="col form-group">
                                    <h3 class="card-title" >Enter your details</h3>
                                </div> 
                                
                               
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Adress">

                            </div> 
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="City">

                            </div> 
                        
                                <div class="form-row">
                                    <div class="col form-group">
                                          <input type="text" class="form-control" placeholder="KIBS">
                                    </div> 
                                    <div class="col form-group">
                                        <input type="text" class="form-control" placeholder="KIBS(Attachement)">
                                   </div> 
                                   
                                </div>
                               
                                <div class="form-row">
                                    <div class="col form-group">
                                          <input type="text" class="form-control" placeholder="SEPA">
                                    </div> 
                                    <div class="col form-group">
                                        <input type="text" class="form-control" placeholder="BIC">
                                   </div> 
                                   
                                </div>
                               
                            
                                
                               
                               
                                
                              
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-success  btn-round">FOLLOWING</button>
                                </div>       
                                                       

                          
                          
                        </form>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>