<section class="options">
    <div class="features">  
       <div>
        <span class="material-icons">radio_button_checked </span>
        <span class="title"> Record</span>
      </div> 
   
   
    <div>
            <img class="image1" src="assets/img/camera-focus.png">
            <span class="title">Take a capture</span>
    </div>
    
    <div>
            <span class="material-icons">videocam</span>
                <span class="title">Vedio message</span>
    </div>
   
    <div>
        <span class="material-icons">location_on</span>
            <span class="title">Location</span>
    </div>
    
    <div>
        <img class="image1" src="assets/img/blackboard.png">
        <span class="title">Add blackboard</span>
    </div>
   
    <div>
        <img class="image1" src="assets/img/title.png">
            <span class="title">Activate subtitle</span>
    </div>
   
    <div>
        <img class="image1" src="assets/img/background.png">
            <span class="title">Choose a background effect</span>
    </div>
   
    <div>
        <img class="image1" src="assets/img/verticals.png">
            <span class="title">Put the call on hold</span>
    </div>
   
   
    <div>
        <span class="material-icons">settings</span>
            <span class="title">Audio and vedio settings</span>
    </div>
   </div> 
   
   </section> 
