<div class="chat">
    <div class="chat-header">
        <div class="chat-header-user">
            <figure class="avatar">
                <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" class="rounded-circle" alt="image">
            </figure>
            <div>
                <h5>Media-Soup Tunisia</h5>
                <small class="text-success">
                    <i>Online</i>
                </small>
            </div>
        </div>
        <div class="chat-header-action">
            <ul class="list-inline">
                <li class="list-inline-item" data-toggle="tooltip" title="voice call">
                    <a href="#" class="btn btn-otline-light text-success" data-toggle="modal" data-target="#call">
                        <mat-icon>call</mat-icon>
                    </a>
                </li>

                <li class="list-inline-item"data-toggle="tooltip"data-original-title="Video call">
                    <a href="#" class="btn btn-outline-light text-warning"data-toggle="modal"data-target="#videoCall">
                        <mat-icon > videocam</mat-icon>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn btn-outline-light" >
                        <mat-icon >more_horizon</mat-icon>
                    </a>
                   
                </li>
            </ul>
        </div>
    </div>
</div>