<div class="col-12">
  <div class="card mb-4">
  <div class="card-body">
    <img class="arrow" src="assets/images/back.png" >
    <img class="tilisco" src="assets/images/logo.png" >
    

    <h5 class="title">Register Meeting</h5>
    <h5 class="subtitle">Please book for your conference by filling the form below, specify the expected number joining the conference.</h5>


<form>
  <div class="row">
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="row">
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Email">
    </div>
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Room name">
    </div>
  </div>
  <div class="form-group m-3">
    <input type="text" class="form-control" id="inputAddress" placeholder="Address">
  </div>
  
  <div class="form-row ">
    <div class="col m-3 ">
      <input type="text" class="form-control" id="inputCity" placeholder="City">
    </div>
    <div class="col m-3">
      <select id="inputState" class="form-control" placeholder="State">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col m-3">
      <input type="text" class="form-control" id="inputZip" placeholder="Zip">
    </div>
    
  </div>
  <div class="row">
    <div class="col m-3">
      <input type="text" class="form-control" placeholder="Add contact">
    </div>
    <div class="col m-3">
      <select class="form-control custom-select" id="inlineFormCustomSelect" >
        <option selected>Guests number</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="form-group m-3">
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Meeting descrription" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success d-block mt-3">Register</button>

</form>



</div>
</div>
</div>
