<div class="call">
    <div class="image-container">
        <img class="submit" src="assets/images/hero-image.png">
    </div>
    <div class="text-call">
        <span>Call them and add contacts</span>
    </div>

    <div class="D-flex">
       
            <div class="call-icon">
             
                 <img class="call-svg" src="assets/images/call.png">
                 <span class="new-call">New call</span>
            
            </div>

            <div class="contact-icon">
           
                <img class="contact-svg" src="assets/images/contact.png">
                <span class="contact-call">List contact</span>
           
        </div>
        
    </div>


</div>
