<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
        <span class="tilisco">TILISCO</span>

        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <img class="img-container" src="assets/images/logo.png" >

                        <h3 class="card-title">welcome to Tillsco</h3>
                        <form class="register-form">
                                                       
                            <button type="submit" class="btn btn-block btn-success btn-round">LOGIN</button>
                            <button type="submit" class="btn btn-block btn-primary btn-round">JOIN A MEETING</button>

                          
                          
                        </form>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>