<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
        <span class="tilisco">TILISCO</span>
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title">Create Account</h3>
                        <form class="register-form">
                            <input type="email" class="form-control no-border" placeholder="First Name">
                            <input type="email" class="form-control no-border" placeholder="Last Name">


                            <input type="email" class="form-control no-border" placeholder="Email">
                            <input type="password" class="form-control no-border" placeholder="Password">
                           
                            <button type="submit" routerLink="/src/app/authentication/login" class="btn btn-block btn-success btn-round">REGISTER</button>
                            <div class="division">
                                <span>or</span>
                            </div>
                            <div class="social">
                                <button  class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button>
                                <button  class="btn btn-just-icon btn-google mr-1"><i class="fa fa-google"></i></button>
                                <button class="btn btn-just-icon btn-twitter mr-1"><i class="fa fa-twitter"></i></button>
                            </div>
                        </form>
                        <div class="forgot">
                            <div class="login">
                                <p>Already have an account? <a class="login" ><p class="login">Log in</p></a>.</p>
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>


<!--<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/spot-02.png');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-5 col-12 mr-auto">
                        <div class="card card-register">
                            <h3 class="card-title text-center">Register</h3>
                            <div class="social">
                                <button  class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button>
                                <button  class="btn btn-just-icon btn-google mr-1"><i class="fa fa-google"></i></button>
                                <button class="btn btn-just-icon btn-twitter mr-1"><i class="fa fa-twitter"></i></button>
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>
                            <form class="register-form">
                               <div class="input row">
                                      <input type="text"
                                             placeholder="End Date"
                                             class="first form-control"
                                             >
                                 
                                
                                      <input type="text"
                                             placeholder="Time"
                                             class="first form-control"
                                             >
                                 </div>
                                 
                                <input  type="text" class="form-control" placeholder="Email" formControlName="id" >

                                <input type="password" class="form-control" placeholder="Password" formControlName="email" >

                                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="password" >

                                <button type="submit"  class="btn btn-block btn-round">Register</button>
                            </form>
                            <div class="login">
                                <p>Already have an account? <a [routerLink]="['/login']">Log in</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="demo-footer text-center">
                <h6>&copy; 2020, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
        </div>
    </div>
</div>-->