<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/Rectangle\ 208.png');">
        <span class="arrow">About Us</span>
        <span class="tilisco">TILISCO</span>
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title">Sign in to Tillsco</h3>
                        <form class="register-form">
                            
                            <input type="email" class="form-control no-border" placeholder="Email">
                            <input type="password" class="form-control no-border" placeholder="Password">
                           
                            <button type="submit" class="btn btn-block btn-success btn-round">LOGIN</button>
                            <div class="division">
                                <span>or</span>
                            </div>
                            <div class="social">
                                <button  class="btn btn-just-icon btn-facebook mr-1"><i class="fa fa-facebook"></i></button>
                                <button  class="btn btn-just-icon btn-google mr-1"><i class="fa fa-google"></i></button>
                                <button class="btn btn-just-icon btn-twitter mr-1"><i class="fa fa-twitter"></i></button>
                            </div>
                        </form>
                        <div class="forgot">
                            <div class="login">
                                <p>need an account? <a class="login" ><p class="login">Sign in</p></a>.</p>
                            </div>  
                            <div class="login">
                                 <a class="login" ><p class="password">Forgot password?</p></a>
                            </div>                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
