<div class="wrapper">
    <div class="page-header" style="background-image: url('../../../assets/images/spot-02.png');">
        <span class="arrow">About Us</span>
    <img class="tilisco" src="assets/images/logo.png" >
    <img class="image-container" src="assets/images/group-13.png" >

        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-register">
                        <h3 class="card-title">welcome to Tillsco</h3>
                        <form class="register-form">
                                                       
                            <button type="submit" class="btn btn-block btn-light text-secondary btn-round">Candidate</button>
                            <button type="submit" class="btn btn-block btn-success btn-round">CONTINUE</button>

                          
                          
                        </form>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>