<section>
    <mat-form-field class="example-full-width">
      <mat-label>Your Phone Number</mat-label>
      <span matPrefix>+33 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>backspace</mat-icon>
    </mat-form-field>

</section>
<section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a delete icon">
           <span class="number">1</span> 
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a bookmark icon">
            <span class="number">2</span> 
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a home icon">
            <span class="number">3</span> 
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a delete icon">
            <span class="number">4</span> 

          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a bookmark icon">
            <span class="number">5</span> 

          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a home icon">
            <span class="number">6</span> 

          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a delete icon">
            <span class="number">7</span> 

          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white"  aria-label="Example icon button with a bookmark icon">
            <span class="number">8</span> 

          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="white" aria-label="Example icon button with a home icon">
            <span class="number">9</span> 

          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab  color="white" aria-label="Example icon button with a delete icon">
            <span class="number">*</span> 
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab  color="white"  aria-label="Example icon button with a bookmark icon">
            <span class="number">0</span> 
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="white" aria-label="Example icon button with a home icon">
            <span class="number">#</span> 
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <section class="call-section">
    <div class="example-button">
      <div class="example-flex">
    
        <div class="call">
          <button mat-fab  color="white" aria-label="Example icon button with a home icon">
            <mat-icon>call</mat-icon>
          </button>
        </div>
        
      </div>
    </div>
  </section>
  <mat-divider class="divider"></mat-divider>
  <div class="call-icon">
     
    <img class="call-svg" src="assets/images/ajouter-user.png">
    <span class="contact-call">Add a contact</span>

</div>

<mat-divider class="divider"></mat-divider>


<div class="contact-icon">

   <img class="call-svg" src="assets/images/chat-1.png">
   <span class="contact-call">Send a message</span>
 
</div>


